*{box-sizing: border-box;}
html{
    scroll-behavior: auto;
}
body{
    background-color:  blanchedalmond;
}
.navbar2{
    background-color: bisque;
    color: burlywood;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}
.nav_link{
    color: black;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
    font-style: italic;
}
.nav_link:hover{
    color: bisque;
    background-color: burlywood;
    font-weight: 900;
}
.imgcontainer1{
    width: 50%;
    margin: 2% auto;
    border: none burlywood 1em;
    position: relative;
   
}
.card{
    background-color: blanchedalmond;
    padding: 2%;
}
.cardMsg{
    position: absolute;
    top: 0%;
    left: 2%;
    right: 2%;
    text-align: center;
    color: black;
    background-color: burlywood;
    border: none 10px burlywood;
    padding: 1em 1em;
    
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

.img1 {
    width:  50px;
    height: auto;

}
 .credit{
    text-align: center;
    background-color: burlywood;
    padding: 1em;
}

